body {
    margin: 0;
    background-color: white;
    font-family: Ubuntu;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../../fonts/ubuntu-font-family-0.80/Ubuntu-B.ttf)
}
header {
    display: flex;
    justify-content: space-around;
    border: none;
    border-bottom: 2px solid black;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}
header a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}
header a:hover {
    text-decoration: underline;
}
.mainlink {
    font-size: 30px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}
.headernav {
    margin-top: auto;
    margin-bottom: auto;
}
.headernav a {
    padding: 0px 20px;
    font-size: 20px;
}
main {
    margin-top: 60px;
    display: grid;
    place-items: center;
}
main h1 {
    font-size: 50px;
    padding-top: 40px;
    text-align: center;
}
.question {
    width: 800px;
    height: fit-content;
    border: 2px solid black;
    margin-bottom: 20px;
}
.h2 {
    border-bottom: 2px solid #000;
    vertical-align: middle;
    display: table-cell;
    width: 800px;
    background-color: rgb(246, 175, 187);
    padding-left: 20px;
}
.question p {
    font-size: 18px;
    padding: 10px 20px;
}
.question a {
    color: black;
}
footer {
    background-color: black;
    color: white;
    margin-top: 50px;
    display: grid;
    place-items: center;
}
footer p {
    padding-top: 40px;
}
.footernav a {
    color: white;
    text-decoration: none;
    padding: 0px 20px;
}
.footernav a:hover {
    text-decoration: underline;
}
.footernav {
    padding-bottom: 40px;
    padding-top: 20px;
}